# Ensemble Learning (Boosting)

## CatBoost

In [2]:
import numpy as mp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import catboost

In [3]:
df = pd.read_csv('./hearing_test.csv')
df.head(3)

    age  physical_score  test_result
0  33.0            40.7            1
1  50.0            37.2            1
2  52.0            24.7            0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             5000 non-null   float64
 1   physical_score  5000 non-null   float64
 2   test_result     5000 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 117.3 KB

In [5]:
df.describe()

               age  physical_score  test_result
count  5000.000000     5000.000000  5000.000000
mean     51.609000       32.760260     0.600000
std      11.287001        8.169802     0.489947
min      18.000000       -0.000000     0.000000
25%      43.000000       26.700000     0.000000
50%      51.000000       35.300000     1.000000
75%      60.000000       38.900000     1.000000
max      90.000000       50.000000     1.000000

In [6]:
df.corr()

                     age  physical_score  test_result
age             1.000000       -0.782146    -0.683171
physical_score -0.782146        1.000000     0.792716
test_result    -0.683171        0.792716     1.000000

In [7]:
X = df.drop('test_result', axis=1)
Y = df['test_result']

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size=0.7, random_state=12345)

In [9]:
from catboost import CatBoostClassifier

# create a model
model = CatBoostClassifier(iterations=5, 
                           learning_rate=1,
                           loss_function='Logloss',
                           verbose=True)

# train the model
model.fit(x_train, y_train)

0:	learn: 0.2794239	total: 50.5ms	remaining: 202ms
1:	learn: 0.2249127	total: 52.5ms	remaining: 78.8ms
2:	learn: 0.2051530	total: 54ms	remaining: 36ms
3:	learn: 0.1984127	total: 55.6ms	remaining: 13.9ms
4:	learn: 0.1929671	total: 57.3ms	remaining: 0us

In [10]:
y_true = y_test
y_pred = model.predict(x_test)

In [11]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

cm = confusion_matrix(y_true, y_pred)
accuracy = accuracy_score(y_true, y_pred)
precision = precision_score(y_true, y_pred)
recall = recall_score(y_true, y_pred)
f1 = f1_score(y_true, y_pred)

cm

print(f"accuracy = {accuracy * 100: .2f}%")
print(f"precision = {precision * 100: .2f}%")
print(f"recall = {recall * 100: .2f}%")
print(f"f1 score = {f1 * 100: .2f}%")

accuracy =  92.73%
precision =  92.41%
recall =  95.79%
f1 score =  94.07%

In [12]:
from sklearn.metrics import classification_report

print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

           0       0.93      0.88      0.91       597
           1       0.92      0.96      0.94       903

    accuracy                           0.93      1500
   macro avg       0.93      0.92      0.92      1500
weighted avg       0.93      0.93      0.93      1500